.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../../../images/header-logo.svg);
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
}

@media screen and (max-width: 320px) {
  .header__logo {
    background-size: cover;
    width: 142px;
    height: 42px;
  }
}
