.header {
  margin: 0 48px;
  max-width: 1184px;
  padding-top: 28px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 330px) {
  .header {
    margin: 0 16px;
  }
}
