.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (max-width: 745px) {
  .footer__copyright {
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-top: 48px;
    line-height: 14px;
  }
}
